html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Util classes */
.justify-content-right {
  justify-content: right !important;
}
.movie-card {
  height: 300px;
  font-size: 13px;
}
.card-body {
  height: 260px;
}
.card-title {
  height: 40px;
}
.card-footer {
  height: 40px;
}
.social-button-area {
  height: 100px;
}
.movie-card-discription {
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}